<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <!-- add loading while we don't have users yet -->
    <tr *ngIf="isLoading">
      <td colspan="2">Loading...</td>
    </tr>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>{{ user.email }}</td>
    </tr>
  </tbody>
</table>
<!-- show how many we have suceeded inviting -->
<div class="success" *ngIf="successResponses.length > 0">
  <span>{{ successResponses.length }} users successfully invited</span>
</div>
<!-- show the successfully invited users -->
<div class="success" *ngFor="let response of successResponses">
  <span>{{ response.id }} - </span>
  <span>{{ response.email }}</span>
</div>
<!-- show failed users with their problem -->
<div class="error" *ngFor="let response of failedResponses">
  <span>{{ response.email }} - </span>
  <span>{{ response.errorMessage }}</span>
</div>
